[submodule "powerline-fonts"]
	path = powerline-fonts
	url = https://github.com/powerline/fonts.git
[submodule "cascadia-code"]
	path = cascadia-code
	url = https://github.com/microsoft/cascadia-code
	ignore = dirty
