[submodule "powerline-fonts"]
	path = powerline-fonts
	url = https://github.com/powerline/fonts.git
[submodule "cascadia-code"]
	path = cascadia-code
	url = https://github.com/microsoft/cascadia-code
	ignore = dirty
[submodule "powerlevel10k-media"]
	path = powerlevel10k-media
	url = https://github.com/tony/powerlevel10k-media.git
	branch = with-gitignore
[submodule "JetBrainsMono"]
	path = JetBrainsMono
	url = https://github.com/JetBrains/JetBrainsMono.git
